flows-nodered.json
[
    {
        "id": "7826c96493af16a5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ad596f70eca35bc",
        "type": "debug",
        "z": "7826c96493af16a5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "6e639407d112e243",
        "type": "mqtt in",
        "z": "7826c96493af16a5",
        "name": "edutic/sensor/jsonX",
        "topic": "edutic/sensor/jsonX",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2c57ac58b494463f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 380,
        "wires": [
            [
                "0f9d2ac16581c706",
                "1d47bb23992af32e"
            ]
        ]
    },
    {
        "id": "c846888d6b016abb",
        "type": "ui_gauge",
        "z": "7826c96493af16a5",
        "name": "",
        "group": "bcc3b9dc6adaa381",
        "order": 3,
        "width": 7,
        "height": 6,
        "gtype": "gage",
        "title": "Temperature ",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 320,
        "wires": []
    },
    {
        "id": "0f9d2ac16581c706",
        "type": "function",
        "z": "7826c96493af16a5",
        "name": "function 1",
        "func": "var temperature = msg.payload.temperature;\nvar humidity = msg.payload.humidity;\n\nreturn [\n    {payload : temperature},\n    {payload : humidity}\n];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 500,
        "wires": [
            [
                "c846888d6b016abb",
                "23707c2a0a37bff2"
            ],
            [
                "0f8b665c0d8b7536",
                "5db532a68f909ffe"
            ]
        ]
    },
    {
        "id": "0f8b665c0d8b7536",
        "type": "ui_gauge",
        "z": "7826c96493af16a5",
        "name": "",
        "group": "bcc3b9dc6adaa381",
        "order": 1,
        "width": 7,
        "height": 6,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 500,
        "wires": []
    },
    {
        "id": "23707c2a0a37bff2",
        "type": "ui_chart",
        "z": "7826c96493af16a5",
        "name": "Temp_Chart",
        "group": "bcc3b9dc6adaa381",
        "order": 4,
        "width": 7,
        "height": 6,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "5db532a68f909ffe",
        "type": "ui_chart",
        "z": "7826c96493af16a5",
        "name": "Hum_Chart",
        "group": "bcc3b9dc6adaa381",
        "order": 2,
        "width": 7,
        "height": 6,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "1d47bb23992af32e",
        "type": "function",
        "z": "7826c96493af16a5",
        "name": "send to database",
        "func": "var temperature = msg.payload.temperature;\nvar humidity = msg.payload.humidity;\n\nmsg.topic = \"INSERT INTO datasensor2(temperature,humidity) VALUE (\"+temperature+\",\"+humidity+\")\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 620,
        "wires": [
            [
                "cdc0d6a5914ed11c"
            ]
        ]
    },
    {
        "id": "cdc0d6a5914ed11c",
        "type": "mysql",
        "z": "7826c96493af16a5",
        "mydb": "01cd7e9635b570ca",
        "name": "",
        "x": 790,
        "y": 660,
        "wires": [
            [
                "7fc086145820c299"
            ]
        ]
    },
    {
        "id": "7fc086145820c299",
        "type": "debug",
        "z": "7826c96493af16a5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 640,
        "wires": []
    },
    {
        "id": "c3f0a13f8fe014a7",
        "type": "debug",
        "z": "7826c96493af16a5",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "17c52e86b32f36dc",
        "type": "mqtt in",
        "z": "7826c96493af16a5",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "2c57ac58b494463f",
        "type": "mqtt-broker",
        "name": "MQTT MODBUS",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bcc3b9dc6adaa381",
        "type": "ui_group",
        "name": "Home SmartSense",
        "tab": "d6e5c05acb1701a5",
        "order": 1,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "01cd7e9635b570ca",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "smartsense",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "d6e5c05acb1701a5",
        "type": "ui_tab",
        "name": "Tab-MODMQTT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]